## 1-Way ANOVA Hypothesis
Null Hypothesis (H0): There is no significant difference among the groups.<br>
Alternate Hypothesis (H1): There is a significant difference among the groups.

### 1st Method

In [3]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Finding the anova test for math_score and gender column

In [7]:
# clean up column names for statsmodels
df.columns = ['gender', 'race', 'parental_edu', 'lunch', 'test_prep_course', 'math_score', 'reading_score',
             'writing_score']
df.columns

Index(['gender', 'race', 'parental_edu', 'lunch', 'test_prep_course',
       'math_score', 'reading_score', 'writing_score'],
      dtype='object')

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
lm1 = ols('math_score ~ gender', data=df).fit()
anova1 = sm.stats.anova_lm(lm1)
anova1

             df         sum_sq      mean_sq          F        PR(>F)
gender      1.0    6481.373854  6481.373854  28.979336  9.120186e-08
Residual  998.0  223207.705146   223.655015        NaN           NaN

In [9]:
lm2 = ols('reading_score ~ gender', data=df).fit()
anova2 = sm.stats.anova_lm(lm2)
anova2

             df         sum_sq       mean_sq          F        PR(>F)
gender      1.0   12710.843676  12710.843676  63.350584  4.680539e-15
Residual  998.0  200241.595324    200.642881        NaN           NaN

In [10]:
lm3 = ols('writing_score ~ gender', data=df).fit()
anova3 = sm.stats.anova_lm(lm3)
anova3

             df         sum_sq       mean_sq          F        PR(>F)
gender      1.0   20930.822413  20930.822413  99.591576  2.019878e-22
Residual  998.0  209746.261587    210.166595        NaN           NaN

### 2nd Method

In [14]:
import numpy as np
import pandas as pd
from scipy import stats

In [16]:
np.random.seed(12)

races = ['asian', 'black', 'hispanic', 'other', 'white']

# Generate random data
voter_race = np.random.choice(races, p=[0.05, 0.15, 0.25, 0.05, 0.5], size=1000)
voter_age = stats.poisson.rvs(loc=18, mu=30, size=1000)

voter_frame = pd.DataFrame({
    'race': voter_race,
    'age': voter_age
})
voter_frame

         race  age
0       black   51
1       white   49
2    hispanic   51
3       white   48
4       asian   56
..        ...  ...
995     white   47
996     asian   40
997     white   50
998     white   51
999  hispanic   43

[1000 rows x 2 columns]

In [26]:
# groups in groupby returns the dict of each groups associated with the indexes of it.
groups = voter_frame.groupby('race').groups
groups

{'asian': [4, 7, 14, 21, 49, 53, 59, 78, 95, 98, 135, 136, 162, 203, 227, 264, 278, 289, 326, 335, 345, 373, 430, 480, 484, 491, 516, 587, 602, 684, 692, 708, 715, 761, 776, 826, 828, 832, 853, 897, 942, 951, 986, 996], 'black': [0, 9, 19, 22, 23, 42, 50, 56, 62, 76, 105, 108, 119, 120, 124, 126, 131, 134, 138, 143, 152, 167, 171, 178, 182, 184, 202, 206, 211, 213, 229, 233, 236, 238, 242, 243, 245, 249, 253, 259, 261, 265, 266, 281, 287, 290, 294, 299, 303, 312, 314, 320, 328, 332, 333, 340, 349, 379, 383, 389, 394, 409, 411, 412, 420, 427, 438, 456, 457, 464, 469, 472, 476, 478, 479, 486, 488, 492, 497, 498, 508, 518, 521, 534, 536, 552, 555, 557, 568, 574, 601, 607, 609, 615, 620, 624, 625, 628, 636, 646, ...], 'hispanic': [2, 10, 24, 28, 31, 32, 38, 40, 44, 45, 47, 54, 55, 58, 63, 71, 74, 83, 87, 88, 89, 91, 100, 104, 109, 110, 111, 113, 114, 117, 121, 123, 128, 132, 133, 139, 144, 145, 148, 155, 156, 158, 159, 168, 169, 172, 173, 188, 191, 195, 209, 210, 217, 218, 220, 223, 224, 231, 235, 240, 241, 248, 254, 256, 257, 258, 262, 263, 268, 270, 273, 274, 282, 285, 291, 292, 298, 301, 313, 329, 330, 336, 337, 338, 339, 342, 344, 346, 348, 356, 357, 361, 366, 369, 375, 376, 377, 380, 381, 384, ...], 'other': [17, 26, 39, 46, 48, 65, 67, 72, 146, 237, 246, 255, 284, 302, 317, 322, 358, 370, 386, 413, 425, 446, 530, 542, 569, 571, 573, 575, 583, 626, 629, 637, 662, 696, 700, 701, 728, 739, 756, 757, 773, 813, 819, 880, 923, 936, 939, 971, 980, 992], 'white': [1, 3, 5, 6, 8, 11, 12, 13, 15, 16, 18, 20, 25, 27, 29, 30, 33, 34, 35, 36, 37, 41, 43, 51, 52, 57, 60, 61, 64, 66, 68, 69, 70, 73, 75, 77, 79, 80, 81, 82, 84, 85, 86, 90, 92, 93, 94, 96, 97, 99, 101, 102, 103, 106, 107, 112, 115, 116, 118, 122, 125, 127, 129, 130, 137, 140, 141, 142, 147, 149, 150, 151, 153, 154, 157, 160, 161, 163, 164, 165, 166, 170, 174, 175, 176, 177, 179, 180, 181, 183, 185, 186, 187, 189, 190, 192, 193, 194, 196, 197, ...]}

In [28]:
# Extracting individual groups
asian = voter_age[groups['asian']]
black = voter_age[groups['black']]
hispanic = voter_age[groups['hispanic']]
white = voter_age[groups['white']]
other = voter_age[groups['other']]

# Perform ANOVA
stats.f_oneway(asian, black, hispanic, white, other)

F_onewayResult(statistic=1.7744689357329695, pvalue=0.13173183201930463)